body {
    color: #ffffff;    
}
section {
    margin: 0 auto;
}
#location, header div {
    margin: 0.5rem;
}

#weather_now {
    text-align: center;
    margin: 0 auto;
    
}
#weather_img {
    width: 13rem;
    height: 13rem;
}
#weather_now > div {
    text-align: center;

}

#weather_now_view {
    font-size: 1.3rem;
}
.weather_now_view:nth-child(1) {
    margin:  2rem;
    font-size: 4.7rem;
}
.weather_now_view:nth-child(2) {
    font-size: 1.3rem;
}
#weather_3hours {
    text-align: center;
    margin-top: 3rem;
}
.weather_3hours_view {
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 1rem;

}