body {
    background-image: url("background.jpg");
    color: #ffffff;    
}
section {
    margin: 1rem auto;
    min-width: 30rem;
}
#location, header div {
    margin: 0.5rem;
}

#weather_now {
    text-align: center;
    margin: 3rem auto;
    
}
#weather_img {
    width: 15rem;
    height: 15rem;
}
#weather_now > div {
    text-align: center;
    display: inline-block;
    margin: 3rem;
}

#weather_now_view {
    font-size: 1.3rem;
}
.weather_now_view:nth-child(1) {
    margin:  2rem;
    font-size: 4.7rem;
}
.weather_now_view:nth-child(2) {
    font-size: 1.3rem;
}
#weather_3hours {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

}
.weather_3hours_view {
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 1rem;

}