body {
    background-image: url("background.jpg");
    color: #ffffff;    
}
section {
    margin: 1rem auto;
    max-width: 45rem;
    min-width: 23rem;
}
#location, header div {
    margin: 0.5rem;
}
#weather_now {
    text-align: center;
    padding: 4rem auto;
    border: 0.1rem dashed #ffffff;
    border-radius: 1rem;
}
#weather_img {
    width: 10rem;
    height: 10rem;
}
#weather_now > div {
    text-align: center;
    display: inline-block;
    margin: 3rem;
}

#weather_now_view {
    font-size: 1.3rem;
}
.weather_now_view:nth-child(1) {
    font-size: 2rem;
}
.weather_now_view:nth-child(2) {
    margin:  2rem;
    font-size: 4rem;
}
#weather_3hours {
    text-align: center;
    margin-top:1rem;
    padding: 1rem;
    border: 0.1rem dashed #ffffff;
    border-radius: 1rem;
}
.weather_3hours_view {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 0.5rem;

}