body {
    background-image: url("background.jpg");
    color: white;
    text-shadow: 0 0 3px white;
}
#weather_now {
    text-align: center;
}
#location {
    margin: 0.5rem;
}
header div {
    margin: 0.5rem;
}
section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#weather_img {
    padding-top: 1rem;
    width: 5rem;
    height: 5rem;
}
.weather_now_view:nth-child(1) {
    font-size: 3rem;
}
.weather_now_view:nth-child(5) {
    padding-top: 3rem;
    font-size: 2rem;
}
.weather_now_view:nth-child(6) {
    padding-top: 1rem;
}
#weather_3hours {
    text-align: center;
}
.weather_3hours_view {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 0.5rem;

}